
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title> Community Mobilization Against Poverty - CMAP</title>

	<!--meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//meta tags ends here-->

	<!--booststrap-->

	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<!--//booststrap end-->

	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!--stylesheets-->
	<link href="css/style.css" rel='stylesheet' type='text/css' media="all">
	<!--//stylesheets-->
	<link rel="stylesheet" href="css/lightbox.css">
	<!--gallery-->

	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

</head>

<body>
	<div class="header-outs">
		<div class="w3-agile-logo">
			<div class=" head-wl">
				<div class="headder-w3">
					<h1><a href="index.html">CMAP</br></a></h1>
				</div>

				<div class="search-w3ls">
					<form action="#" method="post">
						<div class="input-group">
							<div class="search-up">
								<input type="search" class="form-control" name="search" id="search2" placeholder="Search" required="">
							</div>
							<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
							</span>
						</div>
					</form>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="top-nav">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">

					<!-- //header -->

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						 aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
					</div>

					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav ">
							<li><a href="index.html " class="scroll">Home</a></li>
							<li><a href="#Aboutus" class="scroll">About us</a></li>
							<li><a href="#Blog" class="scroll">Blog</a></li>
							<li><a href="#gallery" class="scroll">Gallery</a></li>
							<li><a href="#contact" class="scroll">Contact</a></li>
						</ul>
					</div>

				</div>
			</nav>
		</div>


		<!-- Slideshow -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider4">
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4>CMAP </h4>
									<p>Community Mobilization Against Poverty  </p>

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img ">
							<div class="container">
								<div class="slider-info">
									<h4>Cross-cutting themes  present across our work</h4>
									<p>For CMAP to remain relevant in its efforts to spread education and training of sustainable food production to farming communities, 
									it has to address emerging issues related to gender, HIV/Aids and Climate change. </p>

								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="slider-img">
							<div class="container">
								<div class="slider-info">
									<h4>Thematic areas of work</h4>
									<p>Soil fertility management<br> 
									Crop Diversification<br>
									Improved crop management<br>
									Improved farm planning</p>

								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- This is here just to demonstrate the callbacks -->
	<!-- <ul class="events">
      <li>Example 4 callback events</li>
    </ul>-->
	<!-- //banner -->
	<!--About us-->
	<div class="About us" id="Aboutus">
		<div class="container">
			<h2 class="sub-title">About Us</h2>

			<div class="banner-bottom-girds">
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class=" col-md-8 white-right">
							<h4>What we do</h4>
							<p>As part of a wider movement in Kenya CMAP, enables small-scale farming families in western Kenya to live healthy and fulfilled lives by providing high quality training and education in Agro ecological Farming and related issues.</p>
							<div class="more-buttn ser-buttn">
								<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
							</div>

						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6  col-sm-6 col-xs-6  its-banner-grid">
					<div class="white-shadow">

						<div class=" col-md-8 white-right">
							<h4>Who we work with</h4>
							<p>CMAP works with some of the poorest small scale farming communities where small-scale farming is an indispensable part of their economy.</p>
							<div class="more-buttn ser-buttn">
								<a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
							</div>

						</div>
						
						<div class="clearfix"> </div>
					</div>
				</div>
				
		  </div>
		</div>


	<!--//About us-->

	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">What we do</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<p>Considerate of the increasing challenges and the fundamental need of people to feed themselves, we have been working for +10 years to develop efficient, sustainable smaller-scale farming practices —that when practiced correctly, nurture healthy soil fertility, produce high yields, conserve resources and can be used successfully by almost everyone. 
						Our aspiration is to help these practices be acknowledged and used locally.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal about-modal fade" id="myModal1" tabindex="-2" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">who we work with</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<p>These farmers do not produce enough to feed themselves throughout the year,
						 primarily because they have small infertile landholdings, lack sufficient knowledge of appropriate farming systems, markets, credit and finance for purchasing appropriate farm inputs and tools to enhance agricultural productivity. They face an average of four hunger months every year. Despite of the challenges, successive governments over a sustained period have marginalized smallholders. Collectively, these challenges are leading to a vicious cycle of increasing poverty that is eroding the productive capacity of agriculture and the natural resource base. Alleviating these growing challenges requires a long term commitment of resources under a strategy that tackles the root causes of the problems in an integrated holistic manner.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal about-modal fade" id="myModal2" tabindex="-3" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Our work</h4>
				</div>
				<div class="modal-body">
					<div class="out-info">
						<p>These negative trends can only be reversed if farmers can obtain access to relevant technical information about low cost biologically based alternatives. Likewise, the rate of adoption and the sustainable index can be increased if farmers learn how to experiment and refine these alternatives.CMAP’s overall strategy, therefore encompasses, three primary components; adaptive research (for technology generation, verification and transfer) extension / outreach (for technology transfer, scaling up and exist strategies) and publication (for documentation, collaboration and dissemination).The adaptive research and extension programs are independent and closely linked by design. The adaptive research program carries extension methods (i.e. on-farm trials, farmer group training and discussions, farmer-to- farmer visits, individual farmer follow-ups, farmer tours, field days, and farmer group evaluations) in order to influence the transfer and adoption of beneficial results. The extension program bears elements of research (i.e. on-farm trials) in order to elicit farmer evaluation and subsequent adoption of desirable technologies/ practices. 
						The publication component is a function of program activities, farmer interactions and networking.
						<b><br>Our impact<br></b>
Development and dissemination of realistic options for soil and crop productivity improvement form the core area of focus of CMAP’s adaptive research and extension programs. Since its inception in 2005, CMAP’s adaptive research program has succeeded in developing a variety of promising component technologies with the help of farmers input and collaboration. The organization has also made progress in helping farmers to attempt to integrate the technologies into their production systems.
</br><b>
Key milestones.<br></b>
• Development and dissemination of low cost, biologically based, soil fertility management strategies, for improved productivity of food crops such as maize and beans in smallholder farms.
<br>• Together with collaborating farmers CMAP has succeeded in identifying appropriate spatial and temporal niches for fitting a number of potential legume species into the area’s cropping systems.
<br>• The adaptive research program has initiated a model farm to stimulate the farmers’ situations. The two-acre farm acts as a farmer-training tool in farm planning. Many farmers have appreciated that it is possible to plan and satisfy the family’s basic needs [food and income] from a small land holding.
<br>• Farmer training aids have been developed with regards to organic manure preparation and management, organic matter concepts and general soil and crop management practices.
<br>• Development of options and management approaches that small-scale farmers can instead apply to increase agricultural productivity and specially maize crop yields in a sustainable manner.
<br>• Identification of potential green manure legumes (to find best bet species in terms of outstanding characteristics) that could occupy the land during the dry season and be used as a green manure for maize planted at the onset of the next rainy season.
<br>• verification and evaluation of desirable crop varieties.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- //modal -->
	<!-- blog -->
	<div class="blog" id="Blog">
		<div class="blog-two-grids">
			<h3 class="title">Blog</h3>
			<div class="blog-top-grids">
				<div class="col-md-7 col-sm-7 blog-grid left-side">
					<h4>Our work
					</h4>
					<p class="groom-right">CMAP believes that poor soil fertility, inadequate crop diversity,
					 improper crop management and poor farm planning are among the primary factors contributing to rural poverty, poor family health/ nutrition and environmental degradation in Kenya.
					</p>
					<div class="more-buttn right-buttn">
						<a href="#" data-toggle="modal" data-target="#myModal2">Read More</a>
					</div>
				</div>
				<div class="col-md-5 col-sm-5 blog-gr">
				</div>
				<div class="clearfix"> </div>

			</div>
		</div>
	</div>
	<!-- //blog -->
	<!-- gallery-->
	<div id="gallery" class="gallery">
		<div class="container">
			<h3 class="title">Gallery</h3>
			<div class="gallery-info">
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="images/Image1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image1.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image2.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image3.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image4.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="images/Image5.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image5.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="images/Image6.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image6.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="images/Image7.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image7.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
					<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids">
					<a href="images/Image8.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image8.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="images/Image9.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image9.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image10.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image10.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="images/Image11.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image11.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="images/Image12.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image12.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids  grid-mdl">
					<a href="images/Image13.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image13.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image14.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image14.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 gallery-grids grid-mdl">
					<a href="images/Image15.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
					<img src="images/Image15.jpg" alt="" class="img-responsive zoom-img">
				</a>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //gallery-->
	
	
	<!-- contact-->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="title clr">Contact</h3>
			<div class="contact-two-grids">
				<div class="col-md-8 contact-left-grid">
					<div class=" col-md-4 col-sm-5 contact-icons">
						<div class=" footer_grid_left">
							<div class="icon_grid_left">
								<span class="fa fa-map-marker" aria-hidden="true"></span>
							</div>
							<h5>Address</h5>
							<p>P.O Box 3906 Kitale ,<span>Kenya, E. Africa</span></p>
						</div>
						<div class=" footer_grid_left">

							<div class="icon_grid_left">
								<span class="fa fa-volume-control-phone" aria-hidden="true"></span>
							</div>
							<h5> Contact Us</h5>
							<p>0712345678 <span>0712345678</span></p>
						</div>
						<div class=" footer_grid_left">
							<div class="icon_grid_left">

								<span class="fa fa-envelope" aria-hidden="true"></span>
							</div>
							<h5>Email Us</h5>
							<p><a href="mailto:info@example.com">cmapinitiative2006@gmail.com</a>
								<span><a href="mailto:info@example.com">info@example2.com</a></span></p>
						</div>

					</div>
					<div class="col-md-8 col-sm-7 contact-us">
						<form action="#" method="post">
							<div class="styled-input">

								<input type="text" name="Name" placeholder="Name" required="">

							</div>
							<div class="styled-input">

								<input type="email" name="Email" placeholder="Email" required="">



							</div>
							<div class="styled-input">

								<input type="text" name="phone" placeholder="phone" required="">



							</div>
							<div class="styled-input">

								<textarea name="Message" placeholder="Message" required=""></textarea>



							</div>
							<div>
								<div class="click">
									<input type="submit" value="SEND">
								</div>
							</div>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>

				<div class="col-md-4 map-grid">
					<div class="mapouter"><div class="gmap_canvas"><iframe width="200" height="900" id="gmap_canvas" src="https://maps.google.com/maps?q=kitale%20&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a></div><style>.mapouter{position:relative;text-align:right;height:400px;width:auto;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
				</div>
				<div class="clearfix"> </div>
			</div>


		</div>
	</div>
	<footer>
		<div class="container">
			<div class="col-md-7 col-sm-8 header-side">
				<p>© 2020 CMAP. All Rights Reserved | 
			</div>
			<div class="col-md-5 col-sm-4 header-side">
				<div class="buttom-social-grids">

					<ul>
						<li><a href="#"><span class="fa fa-facebook"></span></a></li>
						<li><a href="#"><span class="fa fa-twitter"></span></a></li>
						<li><a href="#"><span class="fa fa-rss"></span></a></li>
						<li><a href="#"><span class="fa fa-vk"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!--//contact-->
	<!--js working-->
	<script src='js/jquery-2.2.3.min.js'></script>

	<!-- //js  working-->

	<!-- gallery -->
	<script src="js/lightbox-plus-jquery.min.js"></script>
	<!-- //gallery -->
	<script src="js/responsiveslides.min.js"></script>

	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 900,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!--// banner-->
	<!-- OnScroll-Number-Increase-JavaScript -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //OnScroll-Number-Increase-JavaScript -->
	<!-- start-smoth-scrolling -->
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- for-bottom-to-top smooth scrolling -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for-bottom-to-top smooth scrolling -->

	<!--bootstrap-->
	<script src="js/bootstrap.js"></script>
	<!--// bootstrap-->
</body>

</html>